<div class="container">
    <div class="covid-data">
        <p><strong>Country : </strong></p>
        <p>{{country| titlecase  }}</p>
    </div>
    <div class="covid-data">
        <p><strong>Date : </strong></p>
        <p>{{date | date:'fullDate'}}</p>
    </div>
    <div class="covid-data">
        <p><strong>Active : </strong></p>
        <p>{{activeCase| number}}</p>
    </div>
    <div class="covid-data">
        <p><strong>Confirmed : </strong></p>
        <p>{{confirmed | number }}</p>
    </div>
    <div class="covid-data">
        <p><strong>Deaths : </strong></p>
        <p>{{deaths | number}}</p>
    </div>
    <div class="covid-data">
        <p><strong>Recoved: </strong></p>
        <p>{{recovered | number}}</p>
    </div>

</div>

